# ---> Android

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/


*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
gradle/
gradlew
gradlew.bat


db_files
.DS_Store
/gen/
/bin/
build.properties
local.properties
.settings/*
*.iml
*.orig
.idea/*
obj/*
out/*
build/*
.gradle/*
proguard/*
libs/android-support-v4.jar.properties
/project.properties
/gradle/
/gradlew
/gradlew.bat
/build/
/captures/
/bug/
